<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_programador02_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.22.146;user id=;password=;initial catalog=programador02;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>